* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(145, 145, 145);
    width: 360px;
    height: 500px;;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.row {
    display: flex;
    gap: 8px;
    flex: 1;
}

#display {
    background-color: white;
    border: 2px solid black;
    font-size: 36px;
    justify-content: end;
    align-items: center;
    border-radius: 8px;
    padding: 0 18px
}

button {
    flex: 1;
    font-size: 30px;
    border: 2px solid grey;
    border-radius: 8px;
}

button:hover {
    border: 2px solid black;
}

#clear {
    flex: 3.35;
}

#backspace {
    flex: 1;
}

.digit {
    background-color: white;
}

.operation, #equal {
    background-color: rgb(255, 204, 0);
}

.selected {
    background-color: snow;
}