* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 360px;
    height: 480px;;
    border: 2px solid grey;
    border-radius: 6px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px
}

.row {
    display: flex;
    gap: 12px;
    flex: 1;
}

#display {
    font-size: 36px;
    justify-content: end;
    align-items: center;
    border: 2px solid grey;
    padding: 0 18px
}

button {
    flex: 1;
    font-size: 30px;
}